numpy==2.2.6
openbb==4.6.0
openbb-benzinga==1.5.1
openbb-bls==1.2.1
openbb-cftc==1.2.1
openbb-commodity==1.4.2
openbb-congress-gov==1.1.1
openbb-core==1.5.9
openbb-crypto==1.5.1
openbb-currency==1.5.1
openbb-derivatives==1.5.1
openbb-econdb==1.4.1
openbb-economy==1.5.1
openbb-equity==1.5.1
openbb-etf==1.5.1
openbb-federal-reserve==1.5.1
openbb-fixedincome==1.5.1
openbb-fmp==1.5.2
openbb-fred==1.5.1
openbb-government-us==1.5.2
openbb-imf==2.0.0
openbb-index==1.5.1
openbb-intrinio==1.5.1
openbb-news==1.5.1
openbb-oecd==1.5.1
openbb-platform-api==1.2.3
openbb-polygon==1.5.1
openbb-regulators==1.5.1
openbb-sec==1.5.1
openbb-tiingo==1.5.1
openbb-tradingeconomics==1.5.1
openbb-us-eia==1.2.1
openbb-yfinance==1.5.2
pandas==2.3.3
pandas-ta==0.4.71b0
plotly==6.5.2
praw==7.8.1
prawcore==2.4.0
streamlit==1.53.1
torch==2.10.0
transformers==5.0.0
yfinance==0.2.66
